.MyApp {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  input {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  button {
    border: none;
    padding: 1rem;
    width: 15rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #38b6ff;
  }
  button:hover {
    background-color: #c5c5c5;
  }
  .message {
    font-size: 1.2em;
    text-align: center;
    color: #38b6ff;
  }