.MyApp {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  input {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  button { 
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    border: none;
    padding: 1rem;
    width: 15rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 0;
    background-color: #38b6ff;
  }
  button:hover {
    background-color: #38b6ff;
  }
  .message {
    font-size: 1.2em;
    text-align: center;
    color: #38b6ff;
    margin-bottom: 10px;
    margin-top: 10px;
  }