.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #38b6ff;
  }
  .Title-Subtitle {
    color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    display: flex;
  }